.first-screen{
position: absolute;
width: 1920px;
height: 800px;
left: 0px;
top: 0px;
background: url(../img/background.png);
}

.first-screen-content{
position: absolute;
width: 635px;
height: 317px;
left: 595px;
top: 282px;

color: #FFFFFF;
}

.h1{
    position: absolute;
width: 635px;
height: 142px;
left: 595px;
top: 282px;

font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 71px;
letter-spacing: 0.01em;

color: #ffffff;
}

.top-menu{
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(0, 91, 193, 0.6)
    
/* 
background: rgba(0, 91, 193, 0.6); */
}

.fon{
    position: absolute;
    width: 444px;
    height: 720px;
    left: 405px;
    top: 80px;

    background: rgba(0, 91, 193, 0.6);
}

ul {
    list-style: none;
    margin: 50;
    padding-left: 50;
  }
  a {
    text-decoration: none; 
    color: #FFFFFF;
  }
  li {
    float:left;
    margin-right:5px; 
  }

.logo{ 
    position: absolute;
    left: 2.08%;
    right: 90.62%;
    top: 13.75%;
    bottom: 13.75%;
    background: url(../img/logo.png);
}

.button{
    position: absolute;
    width: 160px;
    height: 51px;
    left: 595px;
    top: 548px;

}

.slider{
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 950px;

}

.h2{
    position: absolute;
    width: 204px;
    height: 44px;
    left: 545px;
    top: 956px;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #343434;
}

.sliderimg1{
    position: absolute;
    width: 540px;
    height: 400px;
    left: 405px;
    top: 1070px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), #C4C4C4;

    background: url(../img/slide1.png);
}

.sliderimg2{
    position: absolute;
    width: 540px;
    height: 400px;
    left: 975px;
    top: 1070px;
    background: url(../img/slide2.png);
}

.catalog{ 
    position: absolute;
    width: 1110px;
    height: 505px;
    left: 405px;
    top: 1620px;
}